<style>
    *{
        font-family: Helvetica;
    }
    
    .cover img{
        width:100%;
        height: 20vh;
    }
    .profile-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .profile-img-div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width:90%;
        margin-top: 10px;
        
    }
    #profile-img{
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-top: -80px;
        border-radius: 50%;
        background-color: transparent;
        
    }
    #follow{
        width: 120px;
        padding: 12px;
        background-color: #1DA1F2;
        border: none;
        border-radius: 2.6rem;
        text-align: center;
        text-decoration: none;
        color: white;
        font-weight: bolder;
        height: 50;

    }



    .edit{
        width: 100px ;
        padding: 10px 10px;
        background-color:#1DA1F2;
        border: none;
        border-radius: 1.5rem;
        text-align: center;
        text-decoration: none;
        color: white;   
    }
    
    #profile-image-post{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        background-color: transparent;
    }
    
    #tweet-create{
        position: fixed;
        bottom: 0;
        width: 50px ;
        padding: 10px;
        background-color:#1DA1F2;
        border: none;
        border-radius: 1.4rem;
        text-align: center;
        text-decoration: none;
        color: white; 
        font-weight: bold;
    }
    .main{
        display:flex;
        flex-basis: 0;
        width: 70vw;
        margin: 0 auto;
    }
    div{
        width:100%;
    }
    .body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .user-posts{
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 40vw;
        border: .1px solid #d9d9d9;
    }

    .side-bar{
        border-right: .1px solid #d9d9d9;
        display: flex;
        
    }
    .search-column{
        border-left: .1px solid #d9d9d9;
    }

    .menu{
        display:flex;
        flex-direction: column;
        position: fixed;
        row-gap: 4vh;
        padding: 1rem;
    }
    #menu-logo{
        width: 30px;
    }
    #menu-logo{
        margin-right: 4vw
    }
    
    form{
        width:40%;
        display:flex;
        justify-content: end;
    }
    #delete-post{
        
        text-align:right;
        justify-content: end;
    }
    .single-tweet{
        display: flex;
        column-gap: 10px;
        align-items: start;
        align-self: start;
    }
    .single-tweet a{
        display: flex;
    }
    .single-tweet p{
        margin: 0 15px;
        color: gray;
    }
    #tweet{
        margin: 0 2.5vw;
        align-self: start;
    }
    #post-image{
        width: 100%;
        margin: 3vh auto 1vh auto;
        border-radius: 20px;
    }
    #tweet-create{
        position: fixed;
        bottom: 0;
        width: 10vw;
        padding: 16px 29px;
        background-color:#1DA1F2;
        border: none;
        border-radius: 2.6rem;
        text-align: center;
        text-decoration: none;
        color: white; 
        font-weight: bolder;
        margin: 2vw;
    }
    #retweet, #like{
        background-color: transparent;
        border: none;
    }

    .like-comment-container, .like-comment-container form{
        display: flex;
        justify-content: center;
    }
    
</style>

{% extends "base.html" %}
    <h3>Profile</h3>
    {% block content %} 






    <div class="main">
        <div class="side-bar">
            {% if request.user.is_authenticated %}
                <nav class="menu">
                        <a href="{% url "dashboard" %}"><img src="/static/images/home.png" id="menu-logo"/>Home</a>
                    
                        <a href="{% url "search_users" %}"><img src="/static/images/search-interface-symbol.png" id="menu-logo"/>Search</a>
                    
                        <a href="../../profile"><img src="/static/images/user.png" id="menu-logo" />Profile</a>
                    
                        <a href="../new_post" id="tweet-create">Tweet</a>
                </nav>
            {% endif %}
        </div>
        <div class="body">
            <div class="cover">
                <img src={{username.userprofile.cover_pic.url }} >
            </div>
            <div class="profile-description">
                <div class="profile-img-div">
                    <img src={{username.userprofile.profile_pic.url }} id = "profile-img" >
                    <a href={% url 'follow' username.pk%} id="follow">Follow</a>
                </div>
                <h5>{{ username.first_name }} {{ username.last_name }}</h5>
                <p>@{{username}}</p>
                
                <p>{{ username.userprofile.location }} <a href= "#">{{ username.userprofile.website }}</a></p>
                <p>{{ username.userprofile.date_of_birth}} {{ username.userprofile.created_at}}</p>
                <p>{{ username.userprofile.bio}}</p>
                <p>Followers: <b>{{followers}}</b>
                Following: <b>{{following}}</b></p>
            </div>
            {% for d in data %}
            <div class="user-posts">
                {% if d.check_retweet == True %}
                <div>
                    <p>Retweeted by {{username}}</p>
                </div>
                {% endif %}
                <div class="single-tweet">
                    <img src={{username.userprofile.profile_pic.url }} id = "profile-image-post" >
                    <h5>{{ username.first_name }} {{ username.last_name }}</h5>
                    <p>@{{username}}</p>
                    <p>{{ d.date_published }}</p>
                </div>
                
                <a href={% url 'post_detail' d.pk%}>
                        <p id="tweet">{{ d.tweet_post }}</p>
                        {% if d.img.url is not None %}
                            <img src={{ d.img.url }} id="post-image">  
                        {% endif %}
                        
                        
                        
                        <div class="like-comment-container">
                            <form action="{% url 'liked_post' d.pk%}" method="POST">
                                {% csrf_token %}
                                
                                <button type="submit", name="post_id" id="like"><img src="/static/images/love.png" width="20px" > </button>{{d.number_of_likes}}
                            </form>
                            
                            
                            <form action="{% url 'retweet' d.pk %}" method="POST">
                                {% csrf_token %}
                                
                                <button type="submit", name="post_id" id="retweet" ><img src= "/static/images/retweet.png" width="20px"></button>
                            </form>
                            
                            <form action="{% url 'retweet' d.pk %}" method="POST">
                                {% csrf_token %}
                                <input type="text" value="../profile" name="page" hidden>
                                <button type="submit" name="post_id" id="retweet" ><img src= "/static/images/help.png" width="20px"></button>
                            </form>
                            
                        </div>
                    </a>

                </div>
            {% endfor %}
        </div>
        <div class="search-column">

        </div>
    </div>
    </div>
{% endblock %}